body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;

}

nav {
    display: inline-block;
    background-color: #515151;
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
}

#head {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-cars {
    display: flex;
    height: 75%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.car-card {
    width: 40%;
    height: 80%;
    margin-bottom: 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.car-card:hover {
    transform: scale(1.05);
}

.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-details {

    height: 130px;
    padding: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}